p.caption {
  color: #777;
  margin-top: 7px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.toc-logo {
  width: 200px !important;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.toc-logo img {
  max-width: 50%;
  margin-bottom: 1px;
}

.summary > li:first-child {
  height: auto !important; 
}

.book .book-summary {
  background: #C2E7F1;
  border-right: 2px #679DAC solid;
}
